form {
    display: flex;
}

input {
    font-family: inherit;
    font-weight: 400;
    box-sizing: border-box;
    width: 85%;
    height: 60px;
    border: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 1rem;
}

input:focus {
    outline-style: none;
}

input.dark-theme {
    color: inherit;
    background-color: hsl(235, 24%, 19%);
}

input.light-theme {
    color: hsl(235, 19%, 35%);
    background-color: hsl(0, 0%, 98%);
}

label {
    box-sizing: border-box;
    width: 15%;
    height: 60px;
    border: none;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

label.dark-theme {
    background-color: hsl(235, 24%, 19%);
}

label.light-theme {
    background-color: hsl(0, 0%, 98%);
}

span.circle {
    height: 1rem;
    width: 1rem;
    border: 2px solid #bbb;
    border-radius: 50%;
  }