ul {
    margin-top: 30px;
    font-family: inherit;
    font-weight: 400;
    font-size: 1rem;
    list-style: none;
    padding: 0px;
}

li {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid hsl(235, 19%, 35%);
}

li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

li.dark-theme {
    color: hsl(0, 0%, 98%);
    background-color: hsl(235, 24%, 19%);
}

li.light-theme {
    color: hsl(235, 19%, 35%);
    background-color: hsl(0, 0%, 98%);
}

span.todo-button {
    margin-left: 5.3%;
    margin-right: 5.3%;
}

span.todo-text {
    width: 75%;
}

span.remove-button {
    margin-right: 20px;
    margin-left: auto;
    width: 0.75rem;
    background-image: url('./images/icon-cross.svg');
}